body {
    margin: 0;
    font-family: 'Merriweather', serif;
    text-align: center;
    font-size: 20px;
    color: #405140;
}

.header {
    position: fixed;
    background-color: #66BFBF;
    width: 100%;
    height: 55px;
    margin-bottom: 20px;
}

.me-header {
    width: 10%;
    float: left;

}

.flag-img {
    float: right;
    margin-right: 20%;
}

.header-links {
    color: #eaf6f6;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;

}

.header-links:hover {
    color: #11999e;


}

div {
    background-color: #e4f9e4;
    padding-top: 5%;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    line-height: 2;
    padding-bottom: 10px;
}

.buttom_cloud {
    position: absolute;
    left: 30%;
    margin: 10px;


}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;

}

.top_cloud {
    position: absolute;
    left: 60%;
    top: 20%;
    margin: 10px;
}

.mounten-img {
    padding: 50px 50px 3px 50px;
}

.skill-row {
    width: 50%;
    margin: 50px auto 100px auto;
    line-height: 2;

}

.skill-img-code {
    width: 25%;
    float: left;
    margin: 30px;


}

.connect-img {
    width: 25%;
}

.skill-img-ui {
    width: 25%;
    float: right;
    margin: 30px;
}

hr {
    border: dotted gray;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.contact-me {
    padding: 60px;
    margin: 30px;

}

.message-contact {
    margin: 30px;
    padding: 30px;

}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 30px;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.footer-link {
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

.footer-link:hover {
    color: #eaf6f6;
}

.copy-right {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.btn1 {
    background: #385d75;
    background-image: -webkit-linear-gradient(top, #385d75, #4fb2f0);
    background-image: -moz-linear-gradient(top, #385d75, #4fb2f0);
    background-image: -ms-linear-gradient(top, #385d75, #4fb2f0);
    background-image: -o-linear-gradient(top, #385d75, #4fb2f0);
    background-image: linear-gradient(to bottom, #385d75, #4fb2f0);
    -webkit-border-radius: 13;
    -moz-border-radius: 13;
    border-radius: 13px;
    text-shadow: 0px 0px 6px #1a1e57;
    font-family: Arial;
    color: #f0d6f0;
    font-size: 22px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn1:hover {
    background: #a6c9de;
    background-image: -webkit-linear-gradient(top, #a6c9de, #34d939);
    background-image: -moz-linear-gradient(top, #a6c9de, #34d939);
    background-image: -ms-linear-gradient(top, #a6c9de, #34d939);
    background-image: -o-linear-gradient(top, #a6c9de, #34d939);
    background-image: linear-gradient(to bottom, #a6c9de, #34d939);
    text-decoration: none;
}